{% extends 'bootstrap/base.html' %}

##########################
## Styling
##########################
{% block styles %}

<!-- Bootstrap: Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <style>
    body {
      background-image: url('https://robertrigo.github.io/page-background.jpg');
      padding-top: 70px;
    }

    .navbar-default {
      background: none;
    }

    #logo {
      width: 400px;
      height: 50px;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
</style>
{% endblock %}

##########################
## Java script
##########################
{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

##########################
## Navbar
##########################
{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
  <a href="{{ url_for('index') }}" class="navbar-left">
    <img id="logo" src="https://robertrigo.github.io/transparent.png">
  </a>
  <br>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('quiz') }}">Karaktärstips</a></li>
        <li><a href="{{ url_for('stats') }}">Statistik</a></li>
        <li><a href="{{ url_for('chronicles') }}">Krönika</a></li>
      </ul>
    </div>
  </div>
</nav>

{% endblock %}
