{% extends 'base.html' %}

{% block scripts %}

{{ super() }}

  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>

  <script>
    // bar chart data
    var barData = {
      labels : [
        {% for item in labels %}
          "{{ item }}",
        {% endfor %}
        ],

      datasets : [
        {% for items in values %}
          {
            label: "{{ names[loop.index-1] }}",
            backgroundColor: "{{ colors[loop.index-1] }}",
            data : [
              {% for item in items %}
                "{{ item }}",
              {% endfor %}
            ]
          },
        {% endfor %}
      ]
    }

    window.onload = function() {
      var ctx = document.getElementById('chart').getContext('2d');
      window.myBar = new Chart(ctx, {
        type: 'bar',
        data: barData,
        options: {
          title: {
            display: true,
            text: '{{ title }}'
          },
          tooltips: {
            mode: 'index',
            intersect: false
          },
          responsive: true,
          scales: {
            xAxes: [{
              stacked: true,
            }],
            yAxes: [{
              stacked: true
            }]
          }
        }
      });
    };

  </script>

{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8">
      {% if title %}
        <center>
        <canvas id="chart" width="600" height="400"></canvas>
        </center>
      {% endif %}
    </div>

    <div class="col-xs-3">

      <h2>Available plots</h2>
      <form action='/stats' method='POST'>
        <select class="custom-select" name="result" onchange="this.form.submit()">
          <option selected>Select a plot</option>
          {% for key, plot in plots.items() %}
            <option value="{{key}}">{{key}}. {{plot}}</option>
          {% endfor %}
        </select>
      </form>

      <h2>Paths</h2>
      <p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Path 1 - Rise of the Runelords</li>
        <li class="list-group-item">Path 2 - The Crimson Throne</li>
        <li class="list-group-item">Path 3 - Second Darkness</li>
        <li class="list-group-item">Path 4 - Legacy of Fire</li>
        <li class="list-group-item">Path 5 - Vanguard of Hope</li>
        <li class="list-group-item">Path 6 - Into the Dark Continent</li>
        <li class="list-group-item">Path 7 - Haunted Lands</li>
      </ul>
      </p>

      {% if tmp %}
        {{val}}<br/>
        {{max}}<br/>
        {{title}}<br/>
        {{labels}}<br/>
        {{values}}<br/>
        {{colors}}<br/>
        {{plots}}<br/>
        {{names}}<br/>

        {% for val in tmp %}
          {{val}}<br/>
        {% endfor %}
      {% endif %}
    </div>

  </div>
</div>

{% endblock %}
