{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">{{ title }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">User activities</h5>
            <p class="card-text">
              <table class="table table-sm table-scroll">
                <thead>
                  <tr>
                    <th scope="col" class="text-small">ID</th>
                    <th scope="col" class="text-small">#login</th>
                    <th scope="col" class="text-small">#team</th>
                    <th scope="col" class="text-small">#training</th>
                    <th scope="col" class="text-small">#matches</th>
                    <th scope="col" class="text-small">#player</th>
                    <th scope="col" class="text-small">Last login</th>
                    <th scope="col" class="text-small">Last usage</th>
                  </tr>
                </thead>
                <tbody>
                  {% for u in users %}
                  <tr>
                    <td class="text-small">{{ u.id }}</td>
                    <td class="text-small">{{ u.c_login }}</td>
                    <td class="text-small">{{ u.c_team }}</td>
                    <td class="text-small">{{ u.c_training }}</td>
                    <td class="text-small">{{ u.c_matches }}</td>
                    <td class="text-small">{{ u.c_player }}</td>
                    <td class="text-small">{{ u.last_login }}</td>
                    <td class="text-small">{{ u.last_usage }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm"><p></p>
    </div>
  </div>
</div>

{% endblock %}
