{% extends 'bootstrap/base.html' %}

##########################
## Styling
##########################
{% block styles %}

<!-- Bootstrap: Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<style>
  body, html {
    height: 100%;
  }
  body {
    /* <!-- Background vector created by Harryarts - www.freepik.com --> */
    background-image: url("{{url_for('static', filename='background.jpg')}}");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .bg-off {
    background-color:#d6d6d6!important
  }
  .bg-roundup {
    background-color:#34c8db!important
  }
  .img-fluid-2 {
    max-height: 100%;
    width: auto;
  }

  .text-small {
    font-size: 10px;
    white-space: nowrap;
  }

  .table-scroll{
    display: inline-block;
    overflow: auto;
  }

  .td-fixed {
    background-color:#ffffff!important;
    position: absolute;
  }

  .text-sm11 {
    font-size: 11px;
  }

  .text-sm13 {
    font-size: 13px;
  }

  /* Sortable tables */
  table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
  }

  .parent {
    overflow: hidden; /* required */
    height: 1px; /* some non-zero number */
  }

  .ribbon {
    margin: 0;
    padding: 0;
    background: rgb(36, 13, 165);
    color:white;
    padding:1em 0;
    position: absolute;
    top:0;
    right:0;
    transform: translateX(30%) translateY(0%) rotate(45deg);
    transform-origin: top left;
    z-index: 100;
  }
  .ribbon:before,
  .ribbon:after {
    content: '';
    position: absolute;
    top:0;
    margin: 0 -1px; /* tweak */
    width: 100%;
    height: 100%;
    background: rgb(36, 13, 165);
  }
  .ribbon:before {
    right:100%;
  }

  .ribbon:after {
    left:100%;
  }

</style>
{% endblock %}

##########################
## Java script
##########################
{% block scripts %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

$('.toast').toast(option)

</script>

<script src="{{url_for('static', filename='plotly-latest.min.js')}}"></script>

<script src="{{url_for('static', filename='sorttable.js')}}"></script>

{% endblock %}

##########################
## Navbar
##########################
{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        {% if all_teams %}
        {% for team in range(all_teams|length) %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ all_team_names[team-1] }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <!-- <a class="dropdown-item" href="/team?id={{ all_teams[team-1] }}">Team</a> -->
            <a class="dropdown-item" href="/player?id={{ all_teams[team-1] }}">Players</a>
            <!-- <a class="dropdown-item" href="/matches?id={{ all_teams[team-1] }}">Matches</a> -->
            <!-- <a class="dropdown-item" href="/training?id={{ all_teams[team-1] }}">Training</a> -->
          </div>
        </li>
        {% endfor %}
        <a class="nav-link" href="/update">Update data</a>
        <a class="nav-link" href="/profile">Profile</a>
        <a class="nav-link" href="/logout">Logout</a>
        {% if role == "Admin" %}
          <a class="nav-link" href="/debug"><i>Debug</i></a>
        {% endif %}
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      {% endif %}
    </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm"><p></p>
    </div>
  </div>
</div>

<div class="parent">
  <h8 class="ribbon">Beta version {{ version }}</h8>
</div>

<!--
<div class="alert alert-warning" role="alert">
  This HT CHPP application is under construction and changes are made continuously. <a href="/">Read more on the front page</a>.
</div>
-->

{% endblock %}
