{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">{{ title }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Activity</h5>
            <p class="card-text">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col" class="text-small">Admin</th>
                    <th scope="col" class="text-small">ID</th>
                    <th scope="col" class="text-small">Name</th>
                    <th scope="col" class="text-small">#login</th>
                    <th scope="col" class="text-small">#team</th>
                    <th scope="col" class="text-small">#training</th>
                    <th scope="col" class="text-small">#matches</th>
                    <th scope="col" class="text-small">#player</th>
                    <th scope="col" class="text-small">#update</th>
                    <th scope="col" class="text-small">Last usage</th>
                    <th scope="col" class="text-small">Last update</th>
                    <th scope="col" class="text-small">Last login</th>
                    <th scope="col" class="text-small">Created</th>
                  </tr>
                </thead>
                <tbody>
                  {% for u in users %}
                  <tr>
                    <td class="text-small">
                      {% if u.name == current_user %}
                        {{ u.role }}
                      {% else %}
                      <form method="POST" action="/debug">
                        <input type="hidden" id="userid" name="userid" value="{{ u.id }}">
                        <div class="form-check">
                          {% if u.id == 182085 %}
                          <input class="form-check-input position-static" type="checkbox" disabled checked>
                          {% else %}
                            {% if u.role == "Admin" %}
                            <input class="form-check-input position-static" type="checkbox" name="admin" value="admin" onChange="this.form.submit()" checked>
                            {% else %}
                            <input class="form-check-input position-static" type="checkbox" name="admin" value="admin" onChange="this.form.submit()">
                            {% endif %}
                          <!-- disabled checked -->
                          {% endif %}
                        </div>
                      </form>
                      {% endif %}
                    </td>
                    <td class="text-small">{{ u.id }}</td>
                    <td class="text-small">{{ u.name }}</td>
                    <td class="text-small">{{ u.c_login }}</td>
                    <td class="text-small">{{ u.c_team }}</td>
                    <td class="text-small">{{ u.c_training }}</td>
                    <td class="text-small">{{ u.c_matches }}</td>
                    <td class="text-small">{{ u.c_player }}</td>
                    <td class="text-small">{{ u.c_update }}</td>
                    <td class="text-small">{{ u.last_usage }}</td>
                    <td class="text-small">{{ u.last_update }}</td>
                    <td class="text-small">{{ u.last_login }}</td>
                    <td class="text-small">{{ u.created }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm"><p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Changes</h5>
            <p class="card-text">
              <p class="text-sm13">
                {% for c in changelog %}
                {{ c }}</br>
                {% endfor %}
              </p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
