{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">{{ title }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Activity</h5>
            <p class="card-text">
              <table class="table table-sm table-scroll">
                <thead>
                  <tr>
                    <th scope="col" class="text-small">ID</th>
                    <th scope="col" class="text-small">#login</th>
                    <th scope="col" class="text-small">#team</th>
                    <th scope="col" class="text-small">#training</th>
                    <th scope="col" class="text-small">#matches</th>
                    <th scope="col" class="text-small">#player</th>
                    <th scope="col" class="text-small">#update</th>
                    <th scope="col" class="text-small">Last usage</th>
                    <th scope="col" class="text-small">Last update</th>
                    <th scope="col" class="text-small">Last login</th>
                    <th scope="col" class="text-small">Created</th>
                  </tr>
                </thead>
                <tbody>
                  {% for u in users %}
                  <tr>
                    <td class="text-small">{{ u.id }}</td>
                    <td class="text-small">{{ u.c_login }}</td>
                    <td class="text-small">{{ u.c_team }}</td>
                    <td class="text-small">{{ u.c_training }}</td>
                    <td class="text-small">{{ u.c_matches }}</td>
                    <td class="text-small">{{ u.c_player }}</td>
                    <td class="text-small">{{ u.c_update }}</td>
                    <td class="text-small">{{ u.last_usage }}</td>
                    <td class="text-small">{{ u.last_update }}</td>
                    <td class="text-small">{{ u.last_login }}</td>
                    <td class="text-small">{{ u.created }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm"><p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Changes</h5>
            <p class="card-text">
              <p class="text-sm13">
                {% for c in changelog %}
                {{ c }}</br>
                {% endfor %}
              </p>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body" id="tester2" style="width:90%;height:250px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

{{ super() }}
<script>

  window.onresize = doALoadOfStuff;

  function doALoadOfStuff() {
    Plotly.newPlot('tester2', data, layout);
  }

  trace1 = {
    type: 'scatter',
    x: [1, 2, 3, 4],
    y: [10, 15, 13, 17],
    mode: 'lines',
    name: 'Red',
    line: {
      color: 'rgb(219, 64, 82)',
      width: 3
    }
  };

  trace2 = {
    type: 'scatter',
    x: [1, 2, 3, 4],
    y: [12, 9, 15, 12],
    mode: 'lines',
    name: 'Blue',
    line: {
      color: 'rgb(55, 128, 191)',
      width: 1
    }
  };

  var layout = {
    title: 'Test plot',
    // width: 100,
    // height: 300
  };

  var data = [trace1, trace2];

  Plotly.newPlot('tester2', data, layout);

</script>

{% endblock %}
