
{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Hattrick Planner</li>
        </ol>
      </nav>
    </div>
  </div>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {% endif %}

  <div class="alert alert-warning" role="alert">
    <p class="card-text">
      Welcome and thanks for checking this tools out. I'm hoping that it can help you organize
      your team, players, matches and training. It's always under development and still ongoing
      changes now and then, so expect changes.
    </p>
    <p class="card-text">
      Start by clicking "Update data" and then you can view your players in the players section.
      Don't forget to go to "Profile" to add groups, so that you can arrange your players in a much
      nicer player view. Later on, don't miss that you can also fetch your old matches.
    </p>
</div>

  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <p class="card-text">
              If you have access and are able to login, please help out by
              <a href="https://github.com/kvarak/htstatus/issues">reporting bugs and suggesting features</a>.
              Note that reporting bugs/feature requests requires a
              <a href="https://github.com/login">GitHub account</a>.
              Let me know that you use version {{ version }} when you report bugs.
            </p>
            <p class="card-text">
              If you are savvy in the land of python/flask/postgres, and can't stay out of helping with
              the development, don't hesitate to suggest pull requests to the public repo.
              I'm not, so this is definitely a learning experience for me and all help is appreciated.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p class="card-text text-sm11"><b>Thanks to</b><br>
              - <a href="http://www.hattrick.org/">Hattrick</a><br>
              - <a href="https://hattrick.org/en/Community/CHPP/">Hattrick CHPP API</a>
            </p>
            <!-- <p class="card-text text-sm11"><b>Beta testers</b><br>
              - <a href="https://www.hattrick.org/en/Club/Manager/?userId=10507783">Skjoldar</a><br>
              - <a href="https://www.hattrick.org/en/Club/Manager/?userId=2570032">cassiolaw</a><br>
            </p> -->
            <!-- <p class="card-text text-sm11"><b>Source code</b><br>
              - <a href="https://github.com/kvarak/htstatus">github/kvarak/htstatus</a><br>
            </p> -->
            <p class="card-text text-sm11"><b>Users</b><br>
              - Total users: {{ usercount }}<br>
              - Active users: {{ activeusers }}
            </p>
            <p class="card-text text-sm11"><b>Full version</b><br>
              - {{ fullversion }}
            </p>
            <p class="card-text text-sm11"><b>Note</b><br>
    If you have any issues with not being able to <i>Update data</i>, try to
    logout and then login again to reset the sessiondata. This can happen for instance if you
    rename a team, remove a team, etc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Break -->
  <!-- <div class="row"><div class="col-sm"><p></p></div></div> -->

  <!-- <div class="alert alert-warning" role="alert">
    <b>Note:</b> Match retrievals have temporarily been put on hold, they take too much
    bandwidth, maybe they'll come back in the future.
  </div> -->

  <!-- Break -->
  <!-- <div class="row"><div class="col-sm"><p></p></div></div> -->

  <!-- <div class="row"> -->
    <!-- {% if current_user and changesteams %}
    {% for id, team in changesteams.items() %}
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ updated[id] }}</h5>
            <p class="card-text text-sm13">
              <p class="text-sm13"><i>Changes since one week ago</i></p>
              <p class="text-sm11"><i>(Or since the previous update)</i></p>
              <p class="text-sm11">
                {% for change in team %}
                  {{ change[0][1] }} {{ change[0][2] }}:
                  {% for c in change %}
                    {% if c[5] > c[4] %}
                      {% set color = "green" %}
                    {% else %}
                      {% set color = "red" %}
                    {% endif %}
                    <font color="{{ color }}">({{ c[3] }}) {{ c[4] }} -> {{ c[5] }}</font>
                  {% endfor %}
                  </br>
                {% endfor %}
              </p>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><i><a href="/player?id={{ id }}">{{ updated[id] }}</a></i></small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %} -->

    <!-- <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <p class="card-text text-sm11"><b>Thanks to</b><br>
              - <a href="http://www.hattrick.org/">Hattrick</a><br>
              - <a href="https://hattrick.org/en/Community/CHPP/">Hattrick CHPP API</a>
            </p>
            <p class="card-text text-sm11"><b>Beta testers</b><br>
              - <a href="https://www.hattrick.org/en/Club/Manager/?userId=10507783">Skjoldar</a><br>
              - <a href="https://www.hattrick.org/en/Club/Manager/?userId=2570032">cassiolaw</a><br>
            </p>
            <p class="card-text text-sm11"><b>Source code</b><br>
              - <a href="https://github.com/kvarak/htstatus">github/kvarak/htstatus</a><br>
            </p>
            <p class="card-text text-sm11"><b>Users</b><br>
              - Total users: {{ usercount }}<br>
              - Active users: {{ activeusers }}
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><i>Full version: {{ fullversion }}</i></small>
          </div>
        </div>
      </div>
    </div> -->
  <!-- </div> -->

  <!-- Break -->
  <div class="row"><div class="col-sm"><p></p></div></div>

</div>


{% endblock %}
