{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">

    <div class="col-sm">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">{{ teamname }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        </ol>
      </nav>
    </div>

    <!-- <div class="col-sm">
      {% if not(error) %}
      <form method="POST" action="/matches" style="text-align: center; width:100%;">
        <input type="hidden" id="id" name="id" value="{{ teamid }}">
        < !-- <button type="submit" name="updatebutton" value="updatelatest" class="btn btn-primary"  aria-label="Text input">Get latest match</button> -- >
        < !-- <button type="submit" name="updatebutton" value="update" class="btn btn-primary"  aria-label="Text input" data-toggle="tooltip" data-placement="top" title="Be careful! This could take a few minutes." onclick="loading();">Get all matches</button> -- >
        <button type="submit" name="updatebutton" value="update" class="btn-primary-custom"  aria-label="Text input" onclick="loading();">Get all matches</button>
      </form>
      {% endif %}
    </div> -->

  </div>

  {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endif %}

  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#matchtype-league">
              League
            </button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#matchtype-cup">
              Cup
            </button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#matchtype-friendly">
              Friendly
            </button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#matchtype-other">
                Other
            </button>
          </div>
          <!-- <div class="card-body"> -->
            <table>
              {% for m in matches %}

              {# league: 1 #}
              {# cup: 2 #}
              {# friendly: 4, 5, 8, 9 #}
              {# other: else #}

              {% if m.matchtype == 1 %}
                {% set matchtype = "league" %}
              {% elif m.matchtype == 3 %}
                {% set matchtype = "cup" %}
              {% elif m.matchtype == 4 or m.matchtype == 5 or m.matchtype == 8 or m.matchtype == 9 %}
                {% set matchtype = "friendly" %}
              {% else %}
                {% set matchtype = "other" %}
              {% endif %}

              {% set matchcolor = "#eeeeee" %}
              {% if m.home_team_name == teamname %}
                {% if m.home_goals > m.away_goals %}
                  {% set matchcolor = "#f1f8e9" %}
                {% elif m.home_goals < m.away_goals %}
                  {% set matchcolor = "#ffebee" %}
                {% endif %}
              {% else %}
                {% if m.home_goals > m.away_goals %}
                  {% set matchcolor = "#ffebee" %}
                {% elif m.home_goals < m.away_goals %}
                  {% set matchcolor = "#f1f8e9" %}
                {% endif %}
              {% endif %}

              <tr class="collapse show" id="matchtype-{{ matchtype }}" style="background-color: {{ matchcolor }};">
                <td class="text-nowrap" style="font-size: x-small;">

                  {{ m.home_goals }}-{{ m.away_goals }}
                </td>
                <td style="font-size: x-small;">
                  {% if m.home_team_name == teamname %}
                  <a data-bs-toggle="collapse" data-bs-target="#all-match-details-{{ m.ht_id}}" role="button" aria-expanded="false" aria-controls="all-match-details-{{ m.ht_id}}">
                    {{ m.away_team_name }}
                  </a>
                  {% else %}
                  <a data-bs-toggle="collapse" data-bs-target="#all-match-details-{{ m.ht_id}}" role="button" aria-expanded="false" aria-controls="all-match-details-{{ m.ht_id}}">
                    {{ m.home_team_name }}
                  </a>
                  {% endif %}
                </td>
                <td style="font-size: x-small;">
                  <i>({{ matchtype }})</i>
                </td>
              </tr>
              {% endfor %}
            </table>

          <!-- </div> -->
        </div>
      </div>
    </div>
  {# </div> #}

    <div class="col-9">

      {% for m in matches %}

      {% if m.ht_id == matchidtoshow %}
      <div class="row collapse.show" id="all-match-details-{{ m.ht_id }}">
      {% else %}
      <div class="row collapse" id="all-match-details-{{ m.ht_id }}">
      {% endif %}

        <div class="col">
          <div class="card-deck">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <a data-bs-toggle="collapse" data-bs-target="#all-match-details-{{ m.ht_id}}" role="button" aria-expanded="false" aria-controls="all-match-details-{{ m.ht_id}}">
                    {{ m.home_team_name }} - {{ m.away_team_name }} {{ m.home_goals }}-{{ m.away_goals }}
                  </a>
                </h5>
                <p class="text-small">{{ m.datetime }}<br>
                  {{ HTmatchtype[m.matchtype] }}<br>
                  {# {{ m.context_id }} #}
                </p>
                <table class="table-custom">
                  <tr>
                    <td class="text-small" style="text-align: center"></td>
                    <td class="text-small" style="text-align: center"></td>
                    <td class="text-small" style="text-align: center">Keeper<br>
                    {% for p in matchplays[m.ht_id] %}
                      {% if p.role_id == 100 %}
                        {{ p.first_name }} {{ p.last_name }}<br>
                        {{ p.rating_stars }} / {{ p.rating_stars_eom }}<br>
                        {{ HTmatchbehaviour[p.behaviour] }}
                      {% endif %}
                    {% endfor %}
                    </td>
                    <td class="text-small" style="text-align: center"></td>
                    <td class="text-small" style="text-align: center"></td>
                  </tr>
                  <tr>
                    <td class="text-small" style="text-align: center">Right back<br>
                    {% for p in matchplays[m.ht_id] %}
                      {% if p.role_id == 101 %}
                        {{ p.first_name }} {{ p.last_name }}<br>
                        {{ p.rating_stars }} / {{ p.rating_stars_eom }}<br>
                        {{ HTmatchbehaviour[p.behaviour] }}
                      {% endif %}
                    {% endfor %}
                    </td>
                    <td class="text-small" style="text-align: center">Right central defender<br>
                    {% for p in matchplays[m.ht_id] %}
                      {% if p.role_id == 102 %}
                        {{ p.first_name }} {{ p.last_name }}<br>
                        {{ p.rating_stars }} / {{ p.rating_stars_eom }}<br>
                        {{ HTmatchbehaviour[p.behaviour] }}
                      {% endif %}
                    {% endfor %}
                    </td>
                    <td class="text-small" style="text-align: center">Middle central defender<br>
                    {% for p in matchplays[m.ht_id] %}
                      {% if p.role_id == 103 %}
                        {{ p.first_name }} {{ p.last_name }}<br>
                        {{ p.rating_stars }} / {{ p.rating_stars_eom }}<br>
                        {{ HTmatchbehaviour[p.behaviour] }}
                      {% endif %}
                    {% endfor %}
                    </td>
                    <td class="text-small" style="text-align: center">Left central defender<br>
                    {% for p in matchplays[m.ht_id] %}
                      {% if p.role_id == 104 %}
                        {{ p.first_name }} {{ p.last_name }}<br>
                        {{ p.rating_stars }} / {{ p.rating_stars_eom }}<br>
                        {{ HTmatchbehaviour[p.behaviour] }}
                      {% endif %}
                    {% endfor %}
                    </td>
                    <td class="text-small" style="text-align: center">Left back<br>
                    {% for p in matchplays[m.ht_id] %}
                      {% if p.role_id == 105 %}
                        {{ p.first_name }} {{ p.last_name }}<br>
                        {{ p.rating_stars }} / {{ p.rating_stars_eom }}<br>
                        {{ HTmatchbehaviour[p.behaviour] }}
                      {% endif %}
                    {% endfor %}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-small" style="text-align: center">Right winger<br>
                    {% for p in matchplays[m.ht_id] %}
                      {% if p.role_id == 106 %}
                        {{ p.first_name }} {{ p.last_name }}<br>
                        {{ p.rating_stars }} / {{ p.rating_stars_eom }}<br>
                        {{ HTmatchbehaviour[p.behaviour] }}
                      {% endif %}
                    {% endfor %}
                    </td>
                    <td class="text-small" style="text-align: center">Right inner midfield<br>
                    {% for p in matchplays[m.ht_id] %}
                      {% if p.role_id == 107 %}
                        {{ p.first_name }} {{ p.last_name }}<br>
                        {{ p.rating_stars }} / {{ p.rating_stars_eom }}<br>
                        {{ HTmatchbehaviour[p.behaviour] }}
                      {% endif %}
                    {% endfor %}
                    </td>
                    <td class="text-small" style="text-align: center">Middle inner midfield<br>
                    {% for p in matchplays[m.ht_id] %}
                      {% if p.role_id == 108 %}
                        {{ p.first_name }} {{ p.last_name }}<br>
                        {{ p.rating_stars }} / {{ p.rating_stars_eom }}<br>
                        {{ HTmatchbehaviour[p.behaviour] }}
                      {% endif %}
                    {% endfor %}
                    </td>
                    <td class="text-small" style="text-align: center">Left inner midfield<br>
                    {% for p in matchplays[m.ht_id] %}
                      {% if p.role_id == 109 %}
                        {{ p.first_name }} {{ p.last_name }}<br>
                        {{ p.rating_stars }} / {{ p.rating_stars_eom }}<br>
                        {{ HTmatchbehaviour[p.behaviour] }}
                      {% endif %}
                    {% endfor %}
                    </td>
                    <td class="text-small" style="text-align: center">Left winger<br>
                    {% for p in matchplays[m.ht_id] %}
                      {% if p.role_id == 110 %}
                        {{ p.first_name }} {{ p.last_name }}<br>
                        {{ p.rating_stars }} / {{ p.rating_stars_eom }}<br>
                        {{ HTmatchbehaviour[p.behaviour] }}
                      {% endif %}
                    {% endfor %}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-small" style="text-align: center"></td>
                    <td class="text-small" style="text-align: center">Right forward<br>
                    {% for p in matchplays[m.ht_id] %}
                      {% if p.role_id == 111 %}
                        {{ p.first_name }} {{ p.last_name }}<br>
                        {{ p.rating_stars }} / {{ p.rating_stars_eom }}<br>
                        {{ HTmatchbehaviour[p.behaviour] }}
                      {% endif %}
                    {% endfor %}
                    </td>
                    <td class="text-small" style="text-align: center">Middle forward<br>
                    {% for p in matchplays[m.ht_id] %}
                      {% if p.role_id == 112 %}
                        {{ p.first_name }} {{ p.last_name }}<br>
                        {{ p.rating_stars }} / {{ p.rating_stars_eom }}<br>
                        {{ HTmatchbehaviour[p.behaviour] }}
                      {% endif %}
                    {% endfor %}
                    </td>
                    <td class="text-small" style="text-align: center">Left forward<br>
                    {% for p in matchplays[m.ht_id] %}
                      {% if p.role_id == 113 %}
                        {{ p.first_name }} {{ p.last_name }}<br>
                        {{ p.rating_stars }} / {{ p.rating_stars_eom }}<br>
                        {{ HTmatchbehaviour[p.behaviour] }}
                      {% endif %}
                    {% endfor %}
                    </td>
                    <td class="text-small" style="text-align: center"></td>
                  </tr>
                </table>
<!--
               <table class="table table-sm table-scroll sortable">
                <thead>
                  <tr>
                    <th scope="col" class="text-small">Role</td>
                    <th scope="col" class="text-small">Name</td>
                    {# <th scope="col" class="text-small">Stars</td>
                    <th scope="col" class="text-small">Stars eom</td>
                    <th scope="col" class="text-small">Behaviour</td> #}
                  </tr>
                </thead>
                <tbody>
                  {% for p in matchplays[m.ht_id] %}
                  {% if p.role_id > 113 %}
                  <tr>
                    <td class="text-small">{{ HTmatchrole[p.role_id] }} ({{ p.role_id }})</td>
                    <td class="text-small">{{ p.first_name }} {{ p.last_name }}</td>
                    {# <td class="text-small">{{ p.rating_stars }}</td>
                    <td class="text-small">{{ p.rating_stars_eom }}</td>
                    <td class="text-small">{{ HTmatchbehaviour[p.behaviour] }}</td> #}
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row collapse" id="all-match-details-{{ m.ht_id }}"><div class="col"><p></p></div></div>
    {% endfor %}
  </div>
</div>

</div>

{% endblock %}
