{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">{{ title }}</h1>
        </div>
      </div>
    </div>
  </div>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {% endif %}
  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Players</h5>
            <p class="card-text">
              <table class="table table-sm table-scroll sortable">

                <thead>
                  <tr>
                    <th scope="col" class="text-small">Group</th>
                    <th scope="col" class="text-small">Nr</th>
                    <th scope="col" class="text-small">&nbsp;</th>
                    <th scope="col" class="text-small">Name</th>
                    <th scope="col" class="text-small">Age</th>
                    <th scope="col" class="text-small"></th>
                    <th scope="col" class="text-small">KEEP</th>
                    <th scope="col" class="text-small"></th>
                    <th scope="col" class="text-small">DEF</th>
                    <th scope="col" class="text-small"></th>
                    <th scope="col" class="text-small">PM</th>
                    <th scope="col" class="text-small"></th>
                    <th scope="col" class="text-small">WING</th>
                    <th scope="col" class="text-small"></th>
                    <th scope="col" class="text-small">PS</th>
                    <th scope="col" class="text-small"></th>
                    <th scope="col" class="text-small">SC</th>
                    <th scope="col" class="text-small"></th>
                    <th scope="col" class="text-small">SP</th>
                    <th scope="col" class="text-small"></th>
<!--
                    <th scope="col" class="text-small">XP</th>
                    <th scope="col" class="text-small"></th>
                    <th scope="col" class="text-small">STA</th>
                    <th scope="col" class="text-small"></th>
                    <th scope="col" class="text-small">FORM</th>
                    <th scope="col" class="text-small"></th>
-->
                    <th scope="col" class="text-small">&nbsp;</th> <!-- STATUS-->
                    <th scope="col" class="text-small"></th>
<!--
                    <th scope="col" class="text-small">LOY</th>
                    <th scope="col" class="text-small"></th>
                    <th scope="col" class="text-small">TSI</th>
                    <th scope="col" class="text-small"></th>
-->
                    <th scope="col" class="text-small">Since</th>
                    <th scope="col" class="text-small">Notes</th>
                  </tr>
                </thead>
                <tbody>

                  {% for group in group_data %}

                  {% set theplayers = grouped_players[group.id] %}

                  {% if theplayers %}

                  {% for p in theplayers %}
                  <tr style="color: {{ group.textcolor }}; background: {{ group.bgcolor }};">
                    <td class="text-small">{{ group.name }}</td>
                    {% if p.number == 100 %}
                    <td class="text-small">-</td>
                    {% else %}
                    <td class="text-small">{{ p.number }}</td>
                    {% endif %}

                    <td class="text-small">
                      {% if p.specialty > 0 %}
                      {% set pngnr = p.specialty | string() %}
                      {% set pngname = 'ico-sp-' + pngnr + '.png' %}
                      <img src="{{url_for('static', filename=pngname)}}" height="13" style="background-color:rgba(255, 255, 255, 0.5);">
                    {% endif %}
                    </td>

                    <th class="text-small" scope="row">
                      <a data-toggle="collapse" href="#all-player-details-{{ p.ht_id}}" role="button" aria-expanded="false" aria-controls="all-player-details-{{ p.ht_id}}" style="color: {{ group.textcolor }};">
                        {{ p.first_name }} {{ p.last_name }}
                      </a>
                    </th>

                    <td class="text-small" align="right">{{ p.age_years }}</td>
                    <td class="text-small">
                      {% if players_oldest[p.ht_id].age_years < p.age_years %}
                        (+{{ p.age_years - players_oldest[p.ht_id].age_years  }})
                      {% endif %}
                    </td>

                    <td class="text-small" align="right">{{ p.keeper }}</td>
                    <td class="text-small">
                      {% if players_oldest[p.ht_id].keeper < p.keeper %}
                        (+{{ p.keeper - players_oldest[p.ht_id].keeper  }})
                      {% endif %}
                      {% if players_oldest[p.ht_id].keeper > p.keeper %}
                        ({{ p.keeper - players_oldest[p.ht_id].keeper  }})
                      {% endif %}
                    </td>

                    <td class="text-small" align="right">{{ p.defender }}</td>
                    <td class="text-small">
                      {% if players_oldest[p.ht_id].defender < p.defender %}
                        (+{{ p.defender - players_oldest[p.ht_id].defender  }})
                      {% endif %}
                      {% if players_oldest[p.ht_id].defender > p.defender %}
                        ({{ p.defender - players_oldest[p.ht_id].defender  }})
                      {% endif %}
                    </td>

                    <td class="text-small" align="right">{{ p.playmaker }}</td>
                    <td class="text-small">
                      {% if players_oldest[p.ht_id].playmaker < p.playmaker %}
                        (+{{ p.playmaker - players_oldest[p.ht_id].playmaker  }})
                      {% endif %}
                      {% if players_oldest[p.ht_id].playmaker > p.playmaker %}
                        ({{ p.playmaker - players_oldest[p.ht_id].playmaker  }})
                      {% endif %}
                    </td>

                    <td class="text-small" align="right">{{ p.winger }}</td>
                    <td class="text-small">
                      {% if players_oldest[p.ht_id].winger < p.winger %}
                        (+{{ p.winger - players_oldest[p.ht_id].winger  }})
                      {% endif %}
                      {% if players_oldest[p.ht_id].winger > p.winger %}
                        ({{ p.winger - players_oldest[p.ht_id].winger  }})
                      {% endif %}
                    </td>

                    <td class="text-small" align="right">{{ p.passing }}</td>
                    <td class="text-small">
                      {% if players_oldest[p.ht_id].passing < p.passing %}
                        (+{{ p.passing - players_oldest[p.ht_id].passing  }})
                      {% endif %}
                      {% if players_oldest[p.ht_id].passing > p.passing %}
                        ({{ p.passing - players_oldest[p.ht_id].passing  }})
                      {% endif %}
                    </td>

                    <td class="text-small" align="right">{{ p.scorer }}</td>
                    <td class="text-small">
                      {% if players_oldest[p.ht_id].scorer < p.scorer %}
                        (+{{ p.scorer - players_oldest[p.ht_id].scorer  }})
                      {% endif %}
                      {% if players_oldest[p.ht_id].scorer > p.scorer %}
                        ({{ p.scorer - players_oldest[p.ht_id].scorer  }})
                      {% endif %}
                    </td>

                    <td class="text-small" align="right">{{ p.set_pieces }}</td>
                    <td class="text-small">
                      {% if players_oldest[p.ht_id].set_pieces < p.set_pieces %}
                        (+{{ p.set_pieces - players_oldest[p.ht_id].set_pieces  }})
                      {% endif %}
                      {% if players_oldest[p.ht_id].set_pieces > p.set_pieces %}
                        ({{ p.set_pieces - players_oldest[p.ht_id].set_pieces  }})
                      {% endif %}
                    </td>
<!--
                    <td class="text-small" align="right">{{ p.experience }}</td>
                    <td class="text-small">
                      {% if players_oldest[p.ht_id].experience < p.experience %}
                        (+{{ p.experience - players_oldest[p.ht_id].experience  }})
                      {% endif %}
                    </td>

                    <td class="text-small" align="right">{{ p.stamina }}</td>
                    <td class="text-small"></td>

                    <td class="text-small" align="right">{{ p.form }}</td>
                    <td class="text-small"></td>
-->
                    <td class="text-small" align="left">

                      {% if p.is_transfer_listed %}
                        <img src="{{url_for('static', filename='ico-forsale.png')}}" height="13" style="background-color:rgba(255, 255, 255, 0.5);">
                      {% endif %}

                      {% if p.cards == 1 %}
                        <img src="{{url_for('static', filename='ico-yellow-1.png')}}" height="13" style="background-color:rgba(255, 255, 255, 0.5);">
                      {% elif p.cards == 2 %}
                        <img src="{{url_for('static', filename='ico-yellow-2.png')}}" height="13" style="background-color:rgba(255, 255, 255, 0.5);">
                      {% elif p.cards == 3 %}
                        <img src="{{url_for('static', filename='ico-red.png')}}" height="13" style="background-color:rgba(255, 255, 255, 0.5);">
                      {% endif %}

                      {% if p.injury_level == 0 %}
                      <img src="{{url_for('static', filename='ico-damage.png')}}" height="13" style="background-color:rgba(255, 255, 255, 0.5);">
                      {% elif p.injury_level > 0 %}
                        <img src="{{url_for('static', filename='ico-injury.png')}}" height="13" style="background-color:rgba(255, 255, 255, 0.5);">{{ p.injury_level }}
                      {% endif %}

                    </td>
                    <td class="text-small">&nbsp;</td>
<!--
                    <td class="text-small" align="right">{{ p.loyalty }}</td>
                    <td class="text-small">&nbsp;</td>

                     <td class="text-small" align="right">{{ p.tsi }}</td>
                    <td class="text-small">
                      {% if players_oldest[p.ht_id].tsi < p.tsi %}
                        (+{{ p.tsi - players_oldest[p.ht_id].tsi  }})
                      {% endif %}
                      {% if players_oldest[p.ht_id].tsi > p.tsi %}
                        ({{ p.tsi - players_oldest[p.ht_id].tsi  }})
                      {% endif %}
                    </td>
 -->
                    {% set olddate = players_oldest[p.ht_id].data_date | string() %}
                    {% set thedate = olddate[:10] %}
                    <td class="text-small" align="right">{{ thedate }}</td>

                    {% if p.owner_notes == "None" %}
                    <td class="text-small" align="left">&nbsp;</td>
                    {% else %}
                    <td class="text-small" align="left">{{ p.owner_notes }}</td>
                    {% endif %}

                  </tr>
                  {% endfor %}
                  {% endif %}
                  {% endfor %}
                  </tbody>
              </table>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated {{ last_update }}</small>
          </div>
        </div>
      </div>
    </div>
  <!-- </div>
  <div class="row">
    <div class="col-sm"><p></p>
    </div>
  </div>
  <div class="row"> -->
    {% for group in group_data %}
    {% set theplayers = grouped_players[group.id] %}
    {% for p in theplayers %}
    <div class="col-sm collapse" id="all-player-details-{{ p.ht_id }}">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a data-toggle="collapse" href="#all-player-details-{{ p.ht_id }}" role="button" aria-expanded="false" aria-controls="all-player-details-{{ p.ht_id}}" onclick="doALoadOfStuff()">
                {% if p.number < 100 %}
                {{ p.number }}.
                {% endif %}
                {{ p.first_name }} {{ p.last_name }}
              </a>

              {% if p.specialty > 0 %}
                {% set pngnr = p.specialty | string() %}
                {% set pngname = 'ico-sp-' + pngnr + '.png' %}
                <img src="{{url_for('static', filename=pngname)}}" height="25">
              {% endif %}

              {% if p.is_transfer_listed %}
              <img src="{{url_for('static', filename='ico-forsale.png')}}" height="25">
              {% endif %}

              {% if p.cards == 1 %}
                <img src="{{url_for('static', filename='ico-yellow-1.png')}}" height="25">
              {% elif p.cards == 2 %}
                <img src="{{url_for('static', filename='ico-yellow-2.png')}}" height="25">
              {% elif p.cards == 3 %}
                <img src="{{url_for('static', filename='ico-red.png')}}" height="25">
              {% endif %}

              {% if p.injury_level == 0 %}
              <img src="{{url_for('static', filename='ico-damage.png')}}" height="25">
              {% elif p.injury_level > 0 %}
                <img src="{{url_for('static', filename='ico-injury.png')}}" height="25">{{ p.injury_level }}
              {% endif %}

            </h5>

            {% if p.nick_name != "None" %}
            <p class="card-text">
              <i>"{{ p.nick_name }}"</i>
            </p>
            {% endif %}

            {% if p.statement != "None" %}
            <p class="card-text">
              <i>"{{ p.statement }}"</i>
            </p>
            {% endif %}

            {% if p.owner_notes != "None" %}
            <p class="card-text">
              <i>"{{ p.owner_notes }}"</i>
            </p>
            {% endif %}

            <p class="card-text text-sm11">
              {{ p.first_name }} is {{ p.age }}. He
              has played <b>{{ p.current_team_matches }}</b> matches
              and scored <b>{{ p.current_team_goals }}</b> goals for
              {{ team }} since {{ p.arrival_date }}.
              In his career, {{ p.first_name }} has scored {{ p.career_goals }}
              goal{% if p.career_goals != 1 %}s{% endif %}
              and made {{ p.career_hattricks }}
              hattrick{% if p.career_hattricks != 1 %}s{% endif %}.
              {% if p.caps > 0 %}
                He has played {{ p.caps }} international league
                game{% if p.caps != 1 %}s{% endif %}.
              {% endif %}
              {% if p.caps_u20 > 0 %}
                Additionally, {{ p.first_name }} attended {{ p.caps_u20 }} international U20
                league game{% if p.caps_u20 != 1 %}s{% endif %}.
              {% endif %}
            </p>
            <p class="card-text text-sm11">
              Agreeability: {{ p.agreeability }},
              Aggressiveness: {{ p.aggressiveness }},
              Honesty: {{ p.honesty }},
              Experience: {{ p.experience }},
              Loyalty: {{ p.loyalty }}</br>
              TSI: {{ p.tsi }},
              Salary: {{ p.salary }}
            </p>
              <table class="table table-sm">
                <tr>
                  <td class="text-small">Keeper</td>
                  <td class="text-small">{{ p.keeper }}</td>
                  <td class="text-small" style="width: 80%">
                    <div class="progress" style="height: 13px;">
                      <div class="progress-bar" role="progressbar" style="width: {{ p.keeper * 5 }}%" aria-valuenow="{{ p.keeper * 5 }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-small">Defender</td>
                  <td class="text-small">{{ p.defender }}</td>
                  <td class="text-small" style="width: 80%">
                    <div class="progress" style="height: 13px;">
                      <div class="progress-bar" role="progressbar" style="width: {{ p.defender * 5 }}%" aria-valuenow="{{ p.defender * 5 }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-small">Playmaker</td>
                  <td class="text-small">{{ p.playmaker }}</td>
                  <td class="text-small" style="width: 80%">
                    <div class="progress" style="height: 13px;">
                      <div class="progress-bar" role="progressbar" style="width: {{ p.playmaker * 5 }}%" aria-valuenow="{{ p.playmaker * 5 }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-small">Winger</td>
                  <td class="text-small">{{ p.winger }}</td>
                  <td class="text-small" style="width: 80%">
                    <div class="progress" style="height: 13px;">
                      <div class="progress-bar" role="progressbar" style="width: {{ p.winger * 5 }}%" aria-valuenow="{{ p.winger * 5 }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-small">Passing</td>
                  <td class="text-small">{{ p.passing }}</td>
                  <td class="text-small" style="width: 80%">
                    <div class="progress" style="height: 13px;">
                      <div class="progress-bar" role="progressbar" style="width: {{ p.passing * 5 }}%" aria-valuenow="{{ p.passing * 5 }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-small">Scorer</td>
                  <td class="text-small">{{ p.scorer }}</td>
                  <td class="text-small" style="width: 80%">
                    <div class="progress" style="height: 13px;">
                      <div class="progress-bar" role="progressbar" style="width: {{ p.scorer * 5 }}%" aria-valuenow="{{ p.scorer * 5 }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-small">Set pieces</td>
                  <td class="text-small">{{ p.set_pieces }}</td>
                  <td class="text-small" style="width: 80%">
                    <div class="progress" style="height: 13px;">
                      <div class="progress-bar" role="progressbar" style="width: {{ p.set_pieces * 5 }}%" aria-valuenow="{{ p.set_pieces * 5 }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-small">Form</td>
                  <td class="text-small">{{ p.form }}</td>
                  <td class="text-small" style="width: 80%">
                    <div class="progress" style="height: 13px;">
                      <div class="progress-bar" role="progressbar" style="width: {{ p.form / 8 * 100 }}%" aria-valuenow="{{ p.form / 8 * 100 }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-small">Stamina</td>
                  <td class="text-small">{{ p.stamina }}</td>
                  <td class="text-small" style="width: 80%">
                    <div class="progress" style="height: 13px;">
                      <div class="progress-bar" role="progressbar" style="width: {{ p.stamina / 9 * 100 }}%" aria-valuenow="{{ p.stamina / 9 * 100 }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                </tr>
              </table>
            </p>
          </div>
          <div class="card-body">
            <form method="POST" action="/player">
              <input type="hidden" id="playerid" name="playerid" value="{{ p.ht_id }}">
              <input type="hidden" id="id" name="id" value="{{ teamid }}">
              <div class="form-row align-items-center">
                <div class="col-auto my-1">
                  <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Select group</label>
                  <select class="custom-select mr-sm-2" name="groupid">
                    {% if not(group.name) %}
                    <option selected>Select group</option>
                    {% endif %}
                    {% for g in group_data %}
                      {% if g.id %}
                      <option {% if group.name == g.name %}selected{% endif %} value="{{ g.id }}" id="groupid">{{ g.name }}</option>
                      {% endif %}
                    {% endfor %}
                    <option value="-1" id="groupid">Clear group</option>
                  </select>
                </div>
                <div class="col-auto my-1">
                  <button type="submit" class="btn btn-outline-secondary" name="updategroup" value="updatebutton">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-sm"><p></p>
    </div>
  </div>
</div>

{% endblock %}
