{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="jumbotron">
<!--        <img src="{{url_for('static', filename='player.jpg')}}" class="rounded float-right img-fluid-2" height="100"> -->
        <div class="container">
          <h1 class="display-4">{{ title }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Players</h5>
            <p class="card-text">
              <table class="table table-sm table-scroll sortable">
                <thead>
                  <tr>
<!--
                    <th scope="col" class="text-small">ID</th>
-->
                    <th scope="col" class="text-small">Nr</th>
                    <th scope="col" class="text-small">Country</th>
                    <th scope="col" class="text-small">Name</th>
                    <th scope="col" class="text-small">Age</th>
                    <th scope="col" class="text-small">stamina</th>
                    <th scope="col" class="text-small">keeper</th>
                    <th scope="col" class="text-small">defender</th>
                    <th scope="col" class="text-small">playmaker</th>
                    <th scope="col" class="text-small">winger</th>
                    <th scope="col" class="text-small">passing</th>
                    <th scope="col" class="text-small">scorer</th>
                    <th scope="col" class="text-small">set_pieces</th>
<!--
                    <th scope="col" class="text-small">data_date</th>
-->
                  </tr>
                </thead>
                <tbody>
                  {% for p in players %}
                  <tr>
<!--
                    <td class="text-small">{{ p.ht_id }}</td>
-->
                    {% if p.number == 100 %}
                    <td class="text-small">-</td>
                    {% else %}
                    <td class="text-small">{{ p.number }}</td>
                    {% endif %}
                    <td class="text-small">{{ p.country }}</td>
                    <th class="text-small" scope="row">{{ p.first_name }} {{ p.last_name }}</th>
                    <td class="text-small">{{ p.age_years }}</td>
                    <td class="text-small">{{ p.stamina }}</td>
                    <td class="text-small">{{ p.keeper }}</td>
                    <td class="text-small">{{ p.defender }}</td>
                    <td class="text-small">{{ p.playmaker }}</td>
                    <td class="text-small">{{ p.winger }}</td>
                    <td class="text-small">{{ p.passing }}</td>
                    <td class="text-small">{{ p.scorer }}</td>
                    <td class="text-small">{{ p.set_pieces }}</td>
<!--
                    <td class="text-small">{{ p.data_date }}</td>
-->
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm"><p></p>
    </div>
  </div>
</div>

{% endblock %}
