{% extends 'base.html' %}

{% block scripts %}

{{ super() }}

<script>

  // Data

  {% for ht_id in allplayerids %}

  {% set thisplayer = allplayers[ht_id] %}

  var data{{ ht_id }} = {

    labels: [
      {% for (dat, skills) in thisplayer %}
      "{{ dat }}",
      {% endfor %}
    ],

    datasets: [
      {% for i in range(7) %}
      {
      label: "{{ skills[i] }}",
      backgroundColor: "rgba({{ 255 - i * 40 }}, {{ 155 - i * i }}, {{ i * 30 }}, 0.2)",
      borderColor: "rgba({{ 255 - i * 40 }}, {{ 155 - i * i }}, {{ i * 30 }})",
      pointColor: "rgba(220,220,220,1)",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(220,220,220,1)",
      data: [
        {% for (dat, skills) in thisplayer %}
        {{ skills[i] }},
        {% endfor %}
        ]
    },
    {% endfor %}
    ]
  };

  {% endfor %}

  // Global + Custom Chart Config Options

  var options = {
    bezierCurve: false,
    animation: true,
    animationEasing: "easeOutQuart",
    showScale: false,
    tooltipEvents: ["mousemove", "touchstart", "touchmove"],
    tooltipCornerRadius: 3,
    pointDot : true,
    pointDotRadius : 4,
    datasetFill : true,
    scaleShowLine : true,
    animationEasing : "easeOutBounce",
    animateRotate : true,
    animateScale : true,
  };

  {% for ht_id in allplayerids %}
  var ctx{{ ht_id }} = document.getElementById('myLineChart{{ ht_id }}');
  var myLineChart{{ ht_id }} = new Chart(ctx{{ ht_id }}, {
    type: 'line',
    data: data{{ ht_id }},
    options: options
  });
  {% endfor %}

</script>

<script>
  var ctx = document.getElementById('myChart');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
              label: '# of Votes',
              data: [2, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });
</script>


{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="container">
        <h1 class="display-6">{{ title }}</h1>
        <p class="lead">{{ teamname }}</p>
        <!-- <hr class="my-4">
        <p><i>Under construction</i></p> -->
      </div>
    </div>
  </div>

  {% if error %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {% endif %}

  <div class="row">
    <div class="col-3">
      <div class="card-deck">
        <div class="card">
          <p class="card-text">
            <div class="card-body">
              <p class="text-sm13">
                {% for ht_id in allplayerids %}
                  <a data-toggle="collapse" href="#all-player-details-{{ ht_id }}" role="button" aria-expanded="false" aria-controls="all-player-details-{{ ht_id }}">
                    {{ playernames[ht_id] }}
                  </a>
                  <br>
                {% endfor %}
              </p>
            </div>
          </p>
        </div>
      </div>
    </div>
  {# </div>
  <div class="row"><div class="col-sm"><p></p></div></div> #}

    <div class="col-9">
      {% for ht_id in allplayerids %}
      <div class="row collapse" id="all-player-details-{{ ht_id }}">
        <div class="col">
          <div class="card-deck">
            <div class="card">
              <p class="card-text">
                <div class="card-body">
                  <h5 class="card-title">
                  <a data-toggle="collapse" href="#all-player-details-{{ ht_id }}" role="button" aria-expanded="false" aria-controls="all-player-details-{{ ht_id }}">
                    {{ playernames[ht_id] }}
                  </a>
                  </h5>
                  <p class="text-sm13">

                    <canvas id="myLineChart{{ ht_id }}" width="400" height="150"></canvas>

                  </p>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row collapse" id="all-player-details-{{ ht_id }}"><div class="col"><p></p></div></div>
      {% endfor %}
    </div>

  </div>

  <div class="row"><div class="col"><p></p></div></div>

  {# <div class="row">
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <p class="card-text">
            <div class="card-body">
              <h5 class="card-title">head</h5>
              <p class="text-sm13">

                <canvas id="myChart" width="400" height="150"></canvas>


              </p>
            </div>
          </p>
        </div>
      </div>
    </div>

  </div> #}

</div>

{% endblock %}
