{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">{{ title }}</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
          <hr class="my-4">
          <p>Nothing much here yet...</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <img src="{{url_for('static', filename='cycles.png')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Basic wing cycle</h5>
            <p class="card-text">4 core players and 2 half-baked players.</p>
            <p class="card-text">4s wing, 2s defence, 1s scoring, 4s play-making, 2s passing</p>
            <p class="card-text">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">WI</div>
                <div class="progress-bar bg-info" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">WI</div>
                <div class="progress-bar bg-info" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">WI</div>
                <div class="progress-bar bg-info" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">WI</div>
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">DF</div>
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">DF</div>
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">SC</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PS</div>
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PS</div>
              </div>
            </p>
            <p class="card-text">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: {{ 13/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">4 core players</div>
              </div>
            </p>
            <p class="card-text">
              <div class="progress">
                <div class="progress-bar bg-off" role="progressbar" style="width: {{ 4/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ 9/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">2 half-baked players</div>
              </div>
            </p>
            <p class="card-text">
              <div class="progress">
                <div class="progress-bar bg-off" role="progressbar" style="width: {{ 9/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-roundup" role="progressbar" style="width: {{ 4/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Round up players</div>
              </div>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="{{url_for('static', filename='cycles.png')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Basic midfield cycle</h5>
            <p class="card-text">3 core players and 3 half-baked players.</p>
            <p class="card-text">2s defence, 4s play-making, 1s scoring, 2s passing, 4s play-making</p>
            <p class="card-text">
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">DF</div>
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">DF</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">SC</div>
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PS</div>
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PS</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
              </div>
            </p>
            <p class="card-text">
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ 13/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">3 core players</div>
              </div>
            </p>
            <p class="card-text">
              <div class="progress">
                <div class="progress-bar bg-off" role="progressbar" style="width: {{ 4/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" role="progressbar" style="width: {{ 9/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">3 half-baked players</div>
              </div>
            </p>
            <p class="card-text">
              <div class="progress">
                <div class="progress-bar bg-off" role="progressbar" style="width: {{ 7/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-roundup" role="progressbar" style="width: {{ 6/13*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Round up players</div>
              </div>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm"><p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <img src="{{url_for('static', filename='cycles.png')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Complex midfield cycle</h5>
            <p class="card-text">2-3 core players and 3-4 half-baked players.</p>
            <p class="card-text">1s defence, 1s defence, 1s play-making, 1s passing, 1s defence, 3s play-making, 1s scoring, 1s passing, 4s play-making</p>
            <p class="card-text">
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ 1/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">DF</div>
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ 1/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">DF</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ 1/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PS</div>
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ 1/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">DF</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ 1/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">SC</div>
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ 1/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PS</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
                <div class="progress-bar" role="progressbar" style="width: {{ 1/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PM</div>
              </div>
            </p>
            <p class="card-text">
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ 14/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">1 core player - PDIM</div>
              </div>
            </p>
            <p class="card-text">
              <div class="progress">
                <div class="progress-bar bg-off" role="progressbar" style="width: {{ 1/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" role="progressbar" style="width: {{ 13/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">1-2 core players - IM</div>
              </div>
            </p>
            <p class="card-text">
              <div class="progress">
                <div class="progress-bar bg-off" role="progressbar" style="width: {{ 3/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ 11/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">1 half-baked players - IMtW</div>
              </div>
            </p>
            <p class="card-text">
              <div class="progress">
                <div class="progress-bar bg-off" role="progressbar" style="width: {{ 4/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ 10/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">2 half-baked players - Wingers</div>
              </div>
            </p>
            <p class="card-text">
              <div class="progress">
                <div class="progress-bar bg-off" role="progressbar" style="width: {{ 6/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ 8/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">1 half-baked player - DF</div>
              </div>
            </p>
            <p class="card-text">
              <div class="progress">
                <div class="progress-bar bg-off" role="progressbar" style="width: {{ 9/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-roundup" role="progressbar" style="width: {{ 5/14*100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Round up players</div>
              </div>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
