{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">{{ title }}</h1>
          <p class="lead">{{ team }}</p>
          <!-- <hr class="my-4">
          <p><i>Under construction</i></p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <p class="card-text">
            <div class="card-body">
              <h5 class="card-title">head</h5>
              <p class="text-sm13">
                info
              </p>
            </div>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <p class="card-text">
            <div class="card-body">
              <h5 class="card-title">head</h5>
              <p class="text-sm13">
                info
              </p>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm"><p></p>
    </div>
  </div>
</div>

{% endblock %}
