{% extends 'base.html' %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">{{ title }}</h1>
          {% if error %}
          <div class="alert alert-danger" role="alert">
            <h5>{{ error }}</h5>
            <p>{{ timenow }}</p>
            <p>{{ fullversion }}</p>
            <p><span style="white-space: pre-line">{{ errorinfo }}</span></p>
          </div>
          {% else %}
          <p class="lead">Data downloaded!</p>
          {% endif %}
          <hr class="my-4">
          {% if not(error) %}
            {% if updated %}
              {% for key, value in updated.items() %}
              <p>{{ value[0] }}: <a href="{{ value[1] }}">{{ value[2] }}</a></p>
              {% endfor %}
            {% endif %}
          {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
