{% extends 'base.html' %}

{% block scripts %}

{{ super() }}

<!-- <script type="text/javascript">
  $(document).ready(function(){
      $("#exampleModal").modal('show');
  });
</script> -->

{% endblock %}

{% block content %}

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Modal body text goes here.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-sm">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        </ol>
      </nav>
    </div>
  </div>

  {% if error %}
  <div class="alert alert-danger" role="alert">
    <h5>{{ error }}</h5>
    <p>{{ timenow }}</p>
    <p>{{ fullversion }}</p>
    <p><span style="white-space: pre-line">{{ errorinfo }}</span></p>
  </div>
  {% else %}
    <div class="alert alert-success" role="alert">
      Data downloaded!
    </div>
  {% endif %}

  {% if left_players %}
    {% for pl in left_players %}
    <div class="alert alert-warning" role="alert">
      {{ pl[1] }} is no longer in {{ pl[0] }}
    </div>
    {% endfor %}
  {% endif %}

  {% if new_players %}
    {% for pl in new_players %}
    <div class="alert alert-success" role="alert">
      <p>{{ pl[1] }} is now playing for {{ pl[0] }}</p>
    </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <p class="card-text">
            <div class="card-body">
            {% if not(error) %}
              {% if updated %}
                {% for key, value in updated.items() %}
                <p>{{ value[0] }}: <a href="{{ value[1] }}">{{ value[2] }}</a></p>
                {% endfor %}
                <hr class="my-4">
                <p>Changes since yesterday.</p>
                <p class="text-sm11"><i>(Or since the previous update)</i></p>
                <p class="text-sm11">
                  {% for cplayer in changes_day %}
                    {{ cplayer[0][0] }}: {{ cplayer[0][1] }} {{ cplayer[0][2] }} -
                    {% for c in cplayer %}

                      {% if c[5] > c[4] %}
                        {% set color = "green" %}
                      {% else %}
                        {% set color = "red" %}
                      {% endif %}

                      {% if c[3] == "injury_level" %}

                        {% if c[5] > c[4] %}
                          <img src="{{url_for('static', filename='ico-injury.png')}}" height="13" style="background-color:rgba(255, 255, 255, 0.5);">{{ c[5] }}
                        {% endif %}

                      {% elif c[3] == "cards" %}

                        {% if c[5] == 3 %}
                          <img src="{{url_for('static', filename='ico-red.png')}}" height="13" style="background-color:rgba(255, 255, 255, 0.5);">
                        {% endif %}

                      {% else %}
                        <font color="{{ color }}">({{ c[3] }}) {{ c[4] }} -> {{ c[5] }}</font>
                      {% endif %}

                    {% endfor %}
                    </br>
                  {% endfor %}
                </p>
                <hr class="my-4">
                <p>Changes since one week ago.</p>
                <p class="text-sm11"><i>(Or at least a week ago)</i></p>
                <p class="text-sm11">
                  {% for cplayer in changes_week %}
                    {{ cplayer[0][0] }}: {{ cplayer[0][1] }} {{ cplayer[0][2] }} -
                    {% for c in cplayer %}
                      {% if c[5] > c[4] %}
                        {% set color = "green" %}
                      {% else %}
                        {% set color = "red" %}
                      {% endif %}
                      <font color="{{ color }}">({{ c[3] }}) {{ c[4] }} -> {{ c[5] }}</font>
                    {% endfor %}
                    </br>
                  {% endfor %}
                </p>
                {% endif %}
            {% endif %}
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm"><p></p>
    </div>
  </div>
</div>

{% endblock %}
